.query {
    width: 80%;
    margin: 16px 0;
    float: left;
    padding-left: 28px;
}

.query .search_item {
    float: left;
    margin: 4px;
    font-size: 12px;
}

.query .search_item label {
    display: block;
    float: left;
    line-height: 28px;
    height: 28px;
    font-weight: unset !important;
}

.query .search_item div {
    float: left
}

.query .search_item input[type=text] {
    width: 128px;
}

.query .search_item select {
    width: 130px;
}

.query.smLabel .search_item label {
    /*width: 78px;*/
}

.query.lgLabel .search_item label {
    width: 98px;
}

.act_box {
    float: right;
    text-align: right;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 10px
}

.act_box input {
    margin-right: 10px;
    margin-top: -3px;
    clear: both;
}

.list {
    margin: 0 20px 15px 24px;
    background: #fff;
}

.list table {
    width: 100%;
    table-layout: fixed;
}

.list table tr {
    height: 35px;
}

.list table thead {
    height: 35px;
}

.list table th {
    text-align: center;
    font-weight:normal;
    font-size: 12px;
    border-color: #bbcddb;
    border-width: 1px;
    border-style: solid;
    height: 35px;
    line-height: 35px;
    color: #1b4462;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #e7f3fb;
    background: linear-gradient(top, #f6fafc, #e7f3fb);
    background: -moz-linear-gradient(top, #f6fafc, #e7f3fb);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6fafc), to(#e7f3fb));
}

.list table tfoot {
    height: 35px;
}

.list table tfoot tr th {
    text-align: center;
    background: #3C8DBC;
    border: 1px solid #fff;
    height: 35px;
    line-height: 35px;
    color: #1b4462;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list table tfoot tr th a {
    text-decoration: none;
    outline: none;
    color: #1B4462;
}

.list table tbody tr td {
    text-align: center;
    border-color: #bbcddb;
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list table tbody tr td a {
    color: #0068b7;
    font-weight: bold;
    font-size: 12px;
}

.list table tbody tr td a:hover {
    color: #eb6100;
    font-size: 12px;
}

.replylist table tbody tr td {
    text-align: center;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #d1d9dc;
    height: 35px;
    line-height: 18px;
    word-break: break-all;
    white-space: pre-wrap;
}

.search {
    width: 79px;
    height: 29px;
    background: url(images/search_btn.png) 0 0;
    margin-left: 10px;
}

.search:hover {
    background-position: 0 -29px;
}

.search:active {
    background-position: 0 -58px;
}

#search_form {
    padding-bottom: 10px;
}

#search_form:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.detail_form_table {
    margin-left: 20px;
}

.detail_form_table td {
    border-bottom: 1px dashed #BDC6CD;
    height: 35px;
    text-align: left;
    vertical-align: bottom;
}

.detail_form_table th {
    font-size: 14px;
    text-align: right;
    font-weight: normal;
    vertical-align: bottom;
    padding-left: 5px;
}

.form-control-me {
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-top: 2px;
}

.td_view td {
    height: 32px;
}

.td_view1 td {
    height: 32px;
}

.td_view1 th {
    height: 32px;
}

.piclist {
    margin: 0 20px 0px 33px;
    line-height: 26px;
}

.picrowlist {
    float: left;
    margin-right: 100px;
    margin-bottom: 26px;
    display: inline-block;
    width: 25%;
}

.picrowlist .td1 {
    width: 168px;
    valign: middle;
    padding-right: 12px;
}

.picrowlist .td1 img {
    width: 167px;
    height: 169px;
    vertical-align: middle;
}

.picrowlist .td2 {
    width: 200px;
    text-align: right;
    border-bottom: 1px #bdc6cd dashed;
}

.picrowlist .td3 {
    width: 200px;
    border-bottom: 1px #bdc6cd dashed;
}

.piclist .picone {
    clear: both;
}

.label1 {
    margin-left: 30px;
    width: 87px;
    float: left;
}

/* tabPage */

#thd_tabPage_pPDiv {
}

#thd_tabPage_sdPDiv { /* tab parent div *//*内容框样式*/
    border: 1px solid #8db2e3;
    border-top-width: 0px;
    overflow: hidden;
}

#thd_tabPage_menuUl { /* tab ul */
    padding: 0px;
    margin-left: 23px;
    overflow: hidden;
    background: url("../img/menuBg.gif") repeat-x bottom;
    height: 25px;
}

#thd_tabPage_menuUl div { /* tab ul > li */
    list-style-type: none;
    cursor: pointer;
    width: 114px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    float: left;
    background: url("../img/thd_tabPage_bg.gif");
}

#thd_tabPage_menuUl div.hover { /* tab ul > li.hover */
    height: 25px !important;
    font-weight: bold;
}

#thd_tabPage_menuUl div:hover { /* tab ul > li.hover */
    height: 25px !important;
    font-weight: bold;
    color: #0068b7;
}

#thd_tabPage_menuUl span { /* tab ul > span(the left border of first tabMenu) */
    height: 23px;
    margin-top: 2px;
    float: left;
    width: 1px;
    background: #8db3e4;
}

#thd_tabPage_menuUl .thd_tabPage_lBor { /* tab ul > img(the left border of first tabMenu) */
    margin-top: 2px;
    float: left;
    border-width: 0px;
}

#thd_tabPage_menuUl div a {
    display: block;
    color: #0068b7;
}

#thd_tabPage_menuUl div a:hover {
    display: block;
    color: #0068b7;
}

#add_cafe_form .forinLine {
    width: 380px;
    text-align: left;
}

#add_cafe_form .label1 {
    font-weight: 600;
}

.forinLine {
    float: left;
    text-align: right;
    height: 35px;
}

.forinLine label {
    margin-top: 9px;
    font-weight: unset !important;
}

.forinLine input[type=text], input[type=number] {
    width: 122px;
}

.forinLine select {
    width: 124px;
}

.error {
    color: red;
}

.box_border {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #8DB2E3;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px;
    overflow: hidden;
}

li {
    list-style: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    /*margin:0;*/
    padding: 0;
}

.ul_tree {
    margin: 10px;
}

.ul_sub_tree li {
    padding-left: 10px;
    line-height: 20px;
    margin-left: 10px;
}

.ul_sub_tree li span {
    border-left: 1px solid #666666;
    display: block;
    float: left;
}

.ul_sub_tree li input {
    float: left;
}

.ul_power_tree li {
    margin-left: 18px;
}

.index_little {
    margin-left: 40px;
    width: 60%;
    background-color: #00082A;
    height: 34px;
    line-height: 34px;
    color: #ffffff
}

.index_little_title {
    font-size: 14px;
    color: #b3ccf4;
}

.index_little_title_value {
    font-size: 14px;
    color: #ff7e00;
}

.nav-tabs-custom>.nav-tabs>li>a {
    font-size: 12px;
}

.td_view1 th{
    width: 142px;
    text-align: center;
}
.td_view1 td{
    border-bottom: 1px dashed #CCCCCC;
    color: #242424;
    padding: 5px;
    font-weight: normal;
}
.tabcontent th{
    font-weight: normal;
}




